<div style="height: 500px;"><button type="button" class="Polaris-Button"><span class="Polaris-Button__Content"><span>Open</span></span></button></div>
<div class="modal" id="amino-acid-modal">
  <div class="container">
    <table>
      <td>
        <th>GRIT</th>
      </td>
      <td>
        <th>Whey Protein</th>
      </td>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>

{% schema %}
  {
    "name": "amino_acid_modal",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
	#amino-acid-modal {
		//display: none;
<!-- 		position: fixed;
		top:  -->
	}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
